.blogPost {
  max-width: 700px;
  margin: auto;
  padding-left: 90px;
  padding-right: 90px;
}

.blogPost img {
  width: 100%;
}

.backButton {
  text-decoration: none;
  border: 2px solid #3bba6c;
  padding: 5px 12px 7px 10px;
  border-radius: 20px;
  transition: 0.2s;
}

.backButton:hover {
  color: white;
  background-color: #3bba6c;
}

h1 {
  font-size: 54px;
  line-height: 54px;
}

.essayStyle h1 {
    font-family: 'Lora', Georgia, serif !important;
}

.essayStyle p {
    font-family: 'Lora', Georgia, serif !important;
    line-height: 1.75;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .blogPost {
    padding-left: 30px;
    padding-right: 30px;
  }
  h1 {
    font-size: 42px;
    line-height: 42px;
  }
  .essayStyle p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 400px) {
  .blogPost {
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media only screen and (max-width: 370px) {
  h1 {
    font-size: 38px;
    line-height: 38px;
  }
  .essayStyle p {
    font-size: 16px;
  }
}

