@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Overpass:400,700,900|Inconsolata&display=swap");

html {
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #324332;
  max-width: 1000px;
  margin: auto;
  line-height: 28px;
}

p {
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overpass", sans-serif;
  font-weight: 900;
  margin-top: 25px;
  margin-bottom: 20px;
}

h1 {
  font-size: 46px;
  line-height: 46px;
}

h2 {
  font-size: 38px;
  line-height: 38px;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

a {
  color: #3bba6c;
}
